#home {
    margin-top: 5%;
    height: 100vh;
}
.cover {
    border-radius: 30px;
    height: 80vh;
    background-color: #FFF2CC;
}
#product {
    background-color: #fcf1d1;
}
/* Conatct form */
.contact-form {
    height: 50vh;
    background-color: #fcf1d1;
}
.form {
    padding: 5px 30px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    border-right: none;
}
.form-btn {
    padding: 8.5px 15px;
    background-color: rgb(75, 43, 43);
    color: white;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
.footer {
    background-color: #4D4D4D;
    color: white;
}
/* contain div none */
.hide {
    display: none;
}
/* Tab media queary */
@media screen and (min-width: 375px) and (max-width: 834px) {
    .hide {
        display: block;
    }
  }